127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
192.168.4.2 oracledb1 oracledb1.registery
192.168.4.3 oracledb2 oracledb2.registery
192.168.4.4 lstby.registery lstby
172.16.5.34 ntp_server

