TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=dhcp
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=no
#IPV6_AUTOCONF=yes
#IPV6_DEFROUTE=yes
#IPV6_FAILURE_FATAL=no
#IPV6_ADDR_GEN_MODE=stable-privacy
NAME=eno4
UUID=7428ae4c-1f2b-4565-ba3e-6f19ef80ab41
DEVICE=eno4
ONBOOT=yes
MASTER=bond1
SLAVE=yes

